<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjcc.usercenter.mapper.TagMapper">

    <resultMap id="BaseResultMap" type="com.zjcc.usercenter.model.domain.Tag">
            <id property="id" column="id" />
            <result property="tagName" column="tagName" />
            <result property="userId" column="userId" />
            <result property="parentId" column="parentId" />
            <result property="isParent" column="isParent" />
            <result property="createTime" column="createTime" />
            <result property="updateTime" column="updateTime" />
            <result property="isDelete" column="isDelete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,tagName,userId,parentTag,isParent,createTime,
        updateTime,isDelete
    </sql>
</mapper>
