<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjcc.usercenter.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.zjcc.usercenter.model.domain.User">
            <id property="id" column="id" />
            <result property="username" column="username" />
            <result property="userAccount" column="userAccount" />
            <result property="avatarUrl" column="avatarUrl" />
            <result property="gender" column="gender" />
            <result property="userPassword" column="userPassword" />
            <result property="phone" column="phone" />
            <result property="email" column="email" />
            <result property="userStatus" column="userStatus" />
            <result property="createTime" column="createTime" />
            <result property="updateTime" column="updateTime" />
            <result property="isDelete" column="isDelete" />
            <result property="userRole" column="userRole" />
    </resultMap>

    <sql id="Base_Column_List">
        id,username,userAccount,avatarUrl,gender,userPassword,
        phone,email,userStatus,createTime,updateTime,
        isDelete,userRole
    </sql>
</mapper>
